<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e655b53-93c8-48bf-b0c8-6657bfaa82e6" Alias="About Page - About Us Text - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>About Page - About Us Text - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>