@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.company-info .container {
  padding: 8rem 0 10rem 0;
}
.company-info .container .info-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5rem;
}
.company-info .container .info-grid .info-left .text-m {
  padding-top: 0.5rem;
}
.company-info .container .info-grid .info-right .text-xl {
  font-weight: 300;
}
.company-info .container .info-grid .info-right .text-s p {
  padding-top: 1.85rem;
}

.review {
  background-color: #F7F7F7;
  position: relative;
}
.review .container {
  position: relative;
  padding: 4.85rem 0 4.85rem 0;
}
.review .container .review-content {
  max-width: 45%;
}
.review .container .review-content .standard-heading {
  padding-right: 8rem;
}
.review .container .review-content .review-text {
  font-size: 20px;
  color: #999999;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.review .container .review-content .flex {
  color: #333333;
  gap: 0.25rem;
  padding-bottom: 2rem;
}
.review .container .review-content .standard-text {
  color: #2D303A;
}
.review .container .review-content .text-xl {
  padding-top: 0.25rem;
}
.review .container img {
  position: absolute;
  top: 0;
  right: -22.75%;
}

.team .container {
  padding: 5rem 0 5rem 0;
}
.team .container .text-center h1 {
  padding: 0 30% 0 30%;
}
.team .container .team-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 2rem 0 4rem 0;
}
.team .container .team-grid1 .team-card {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
}
.team .container .team-grid1 .team-card img {
  width: 100%;
  height: auto;
}
.team .container .team-grid1 .team-card .team-card-text {
  padding: 1rem 0 1rem 1rem;
}
.team .container .team-grid1 .team-card .team-card-text .standard-heading {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 0.25rem;
}
.team .container .team-grid1 .team-card .team-card-text .text-13 {
  color: #9C9EA6;
}
.team .container .team-grid2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}
.team .container .team-grid2 .team-card {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
}
.team .container .team-grid2 .team-card img {
  width: 100%;
  height: auto;
}
.team .container .team-grid2 .team-card .team-card-text {
  padding: 1rem 0 1rem 1rem;
}
.team .container .team-grid2 .team-card .team-card-text .standard-heading {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 0.25rem;
}
.team .container .team-grid2 .team-card .team-card-text .text-13 {
  color: #9C9EA6;
}

.services-background {
  background-color: #ffffff !important;
}
.services-background .container {
  padding-bottom: 3rem !important;
}

.risk-management .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.risk-management .container .risk-management-content {
  display: flex;
}
.risk-management .container .risk-management-content .content-left {
  padding-right: 3rem;
}
.risk-management .container .risk-management-content .content-left img {
  padding-top: 1.5rem;
}
.risk-management .container .risk-management-content .content-left .standard-text {
  padding: 1rem 0 2rem 0;
  max-width: 301px;
}
.risk-management .container .risk-management-content .content-left .standard-heading {
  font-size: 22px;
}
.risk-management .container .risk-management-content .content-left .form-last {
  cursor: auto;
}
.risk-management .container .risk-management-content .content-right {
  padding-left: 3rem;
  border-left: 1px solid #ececec;
  padding-bottom: 3rem;
}
.risk-management .container .risk-management-content .content-right .standard-heading {
  padding-top: 1.5rem;
}
.risk-management .container .risk-management-content .content-right p {
  padding-top: 1rem;
}
.risk-management .container .risk-management-content .content-right img {
  width: 100%;
}
.risk-management .container .risk-management-content .content-right .key-point-flex {
  display: flex;
  gap: 0.5rem;
}
.risk-management .container .risk-management-content .content-right .key-point-flex i {
  font-size: 0.5rem;
  color: #D9C3A9;
  margin-top: 1.4rem;
}
.risk-management .container .risk-management-content .content-right #risk-pic2 {
  padding-top: 1.5rem;
}
.risk-management .container .flex {
  gap: 2rem;
}
.risk-management .container #text-area {
  height: 10rem;
  margin-bottom: 1rem;
}

.project-heading {
  font-size: 22px;
  font-weight: 600;
  color: #4F5955;
}

.projects .container {
  padding-bottom: 5rem;
}
.projects .container .project-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 4rem;
}
.projects .container .project-grid .content-left {
  padding-right: 5rem;
  border-right: 1px solid #ececec;
}
.projects .container .project-grid .content-left .project-card {
  display: flex;
  gap: 2rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #e6e6e6;
}
.projects .container .project-grid .content-left .project-card:not(:first-child) {
  padding-top: 2.5rem;
}
.projects .container .project-grid .content-left .project-card img {
  width: 100%;
  height: auto;
}
.projects .container .project-grid .content-left .project-card .date {
  display: flex;
  align-items: center;
  color: #9C9EA6;
  gap: 0.5rem;
}
.projects .container .project-grid .content-left .project-card .date i {
  font-size: 0.9rem;
}
.projects .container .project-grid .content-left .project-card .standard-text {
  padding-top: 1rem;
}
.projects .container .project-grid .content-left .project-card .flex {
  padding-top: 5rem;
  gap: 0.5rem;
  text-decoration: none;
  display: inline-flex;
}
.projects .container .project-grid .content-left .project-card .flex .text-s {
  color: #535656;
  font-weight: 600;
}
.projects .container .project-grid .content-left .project-card .flex i {
  color: #D9C3A9;
}
.projects .container .project-grid .content-left .project-card-last {
  padding-bottom: 0;
  border-bottom: none;
}
.projects .container .project-grid .content-left .change-page {
  padding-bottom: 2.5rem;
}
.projects .container .project-grid .content-right {
  width: 21rem;
  padding-left: 2.25rem;
}
.projects .container .project-grid .content-right .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.projects .container .project-grid .content-right .tags p {
  padding: 0.8rem 1.25rem;
  border: 1px solid #e6e6e6;
  border-radius: 3rem;
}
.projects .container .project-grid .content-right .form-last {
  cursor: auto;
}

.contact-next-project {
  background-color: #ffffff !important;
}

.map-wrap {
  position: relative;
  padding-bottom: 4rem;
}

.map {
  position: relative;
  z-index: 1;
}

.contact-call-back {
  position: absolute;
  z-index: 5;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
.contact-call-back .text-center {
  padding: 4rem 24rem 0 24rem;
}
.contact-call-back .text-center .standard-heading {
  padding: 0.5rem 0 2rem 0;
}
.contact-call-back .flex {
  gap: 1rem;
  padding: 0 3rem 0 3rem;
}
.contact-call-back .theme-btn {
  display: block;
  margin: 2rem auto 4rem auto;
}

.project-juva-inc .container {
  padding-bottom: 5rem;
}
.project-juva-inc .container .project-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 4rem;
}
.project-juva-inc .container .project-grid .content-left {
  padding-right: 5rem;
  border-right: 1px solid #ececec;
}
.project-juva-inc .container .project-grid .content-left .date {
  display: flex;
  align-items: center;
  color: #9C9EA6;
  gap: 0.5rem;
}
.project-juva-inc .container .project-grid .content-left .date i {
  font-size: 0.9rem;
}
.project-juva-inc .container .project-grid .content-left .text-s {
  font-weight: 700;
  padding-top: 1.5rem;
}
.project-juva-inc .container .project-grid .content-left img {
  width: 100%;
  padding-top: 1rem;
}
.project-juva-inc .container .project-grid .content-left .standard-heading {
  padding-top: 1.5rem;
  font-size: 18px;
}
.project-juva-inc .container .project-grid .content-left .key-point-flex {
  display: flex;
  gap: 0.5rem;
}
.project-juva-inc .container .project-grid .content-left .key-point-flex i {
  font-size: 0.5rem;
  color: #5D8C87;
  margin-top: 1.35rem;
}
.project-juva-inc .container .project-grid .content-left .key-point-flex p {
  padding-top: 1rem;
}
.project-juva-inc .container .project-grid .content-left .standard-text {
  padding-top: 1rem;
}
.project-juva-inc .container .project-grid .content-left .flex {
  gap: 2rem;
}
.project-juva-inc .container .project-grid .content-left .report-tags {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-top: 4rem;
}
.project-juva-inc .container .project-grid .content-left .report-tags .text-m {
  color: #4F5955;
  font-weight: 600;
}
.project-juva-inc .container .project-grid .content-left .report-tags .juva-tags {
  display: flex;
  gap: 0.75rem;
}
.project-juva-inc .container .project-grid .content-left .report-tags .juva-tags p {
  padding: 0.4rem 1rem;
  border: 1px solid #F2EDDC;
  border-radius: 3rem;
  background-color: #F2EDDC;
  font-size: 13px;
  color: #4F5955;
}
.project-juva-inc .container .project-grid .content-right {
  width: 21rem;
  padding-left: 2.25rem;
}
.project-juva-inc .container .project-grid .content-right .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.project-juva-inc .container .project-grid .content-right .tags p {
  padding: 0.8rem 1.25rem;
  border: 1px solid #e6e6e6;
  border-radius: 3rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.container {
  padding: 0;
}

.standard-text {
  font-size: 14px;
  font-weight: 400;
  color: #535656;
}

.standard-heading {
  font-weight: 700;
  color: #4F5955;
  font-family: "Poppins";
}

#showcase-headline {
  font-size: 70px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 120%;
  color: #4F5955;
}

.label-title {
  font-size: 14px;
  font-weight: 700;
  color: #D9C3A9;
}

p {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.text-xs {
  font-size: 12px;
}

.text-13 {
  font-size: 13px;
}

.text-s {
  font-size: 14px;
}

.text-m {
  font-size: 16px;
}

.text-l {
  font-size: 18px;
}

.text-xl {
  font-size: 20px;
}

.text-lead {
  font-size: 24px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
  align-items: center;
}

.theme-btn {
  background-color: #4F5955;
  color: #F2EDDC;
  padding: 1rem 2.75rem;
  border-radius: 0.25rem;
  text-decoration: none;
  border: none;
  font-weight: 600;
  font-size: 18px;
}
.theme-btn:hover {
  background-color: #F2EDDC;
  color: #4F5955;
}

.form {
  width: 100%;
  padding: 0.6rem 1rem;
  align-items: center;
  border: 1px solid #EBEBEB;
  border-radius: 0.25rem;
  margin-top: 1.5rem;
}
.form::placeholder {
  color: #B4B7C9;
}
.form:focus {
  outline: none;
  border: 1px solid #565973;
}

.form-last {
  display: flex;
  justify-content: space-between;
  color: #535656;
  width: 100%;
  padding: 0.6rem 1rem;
  border: 1px solid #EBEBEB;
  margin-top: 1.5rem;
  align-items: center;
  cursor: pointer;
}
.form-last:hover {
  border: 1px solid #565973;
}

.tab-location {
  background-color: #F7F7F7;
}
.tab-location .container {
  padding: 5rem 0 5rem 0;
}
.tab-location .container .standard-heading {
  padding-bottom: 1rem;
}
.tab-location .container .flex {
  justify-content: center;
  gap: 0.5rem;
}
.tab-location .container .flex i {
  color: #535656;
  font-size: 0.5rem;
}
.tab-location .container .flex .label-title {
  font-weight: 300;
}

.next-project {
  background-color: #F7F7F7;
  padding-top: 5rem;
}
.next-project .container {
  position: relative;
}
.next-project .container img {
  padding-left: 2rem;
}
.next-project .container .guy-glasses {
  position: absolute;
  bottom: 0;
  left: 0;
}
.next-project .container .next-project-text {
  padding: 0 7rem 0 7rem;
}
.next-project .container .next-project-text .flex {
  gap: 0.5rem;
  padding-top: 2rem;
}
.next-project .container .next-project-text .flex .standard-text {
  font-weight: 600;
}
.next-project .container .next-project-text .flex i {
  font-size: 1.25rem;
  color: #D9C3A9;
}
.next-project .container .next-project-text .text-s {
  padding-left: 1.65rem;
  padding-top: 0.5rem;
}

.change-page {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  padding-top: 3rem;
}
.change-page .change-page-text {
  font-weight: 600;
  font-size: 18px;
  color: #4B5264;
  cursor: pointer;
}
.change-page .change-page-number {
  font-size: 18px;
  color: #4B5264;
  font-weight: 600;
  cursor: pointer;
}
.change-page .active {
  border: 1px solid #d2d4d8;
  border-radius: 50%;
  padding: 1rem 1.6rem 1rem 1.6rem;
}
.change-page .text-l {
  opacity: 0.25;
}

.content-left-help {
  background-color: #4F5955;
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-radius: 0.25rem;
}
.content-left-help .standard-heading {
  color: #F2EDDC;
  font-weight: 500;
}
.content-left-help .standard-text {
  color: #ffffff;
}
.content-left-help .content-left-help-form {
  position: relative;
}
.content-left-help .content-left-help-form .form-last {
  color: #535656;
  width: 100%;
  padding: 0.6rem 1rem;
  margin-top: 1.5rem;
  align-items: center;
}
.content-left-help .content-left-help-form .form-last:focus {
  outline: none;
  border: 2px solid black;
}
.content-left-help .content-left-help-form i {
  position: absolute;
  font-size: 1.25rem;
  right: 1.25rem;
  bottom: 0.6rem;
  color: #4F5955;
}

.company-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 5rem 0 5rem 0;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.wrapper header .navbar-top-wrapper {
  background-color: #4F5955;
  height: 3rem;
}
.wrapper header .navbar-top-wrapper .navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}
.wrapper header .navbar-top-wrapper .navbar-top .nav-text-top {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper header .navbar-top-wrapper .navbar-top .social-icons {
  display: flex;
}
.wrapper header .navbar-top-wrapper .navbar-top .social-icons a {
  display: flex;
  color: #ffffff;
  border-left: 2px solid #626b68;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.wrapper header .navbar-top-wrapper .navbar-top .social-icons a:last-child {
  border-right: 2px solid #626b68;
}
.wrapper header .navbar-top-wrapper .navbar-top .social-icons a:hover {
  background-color: #D9C3A9;
}
.wrapper header .navbar-top-wrapper .navbar-top .social-icons a i {
  padding: 1rem;
  font-size: 1rem;
}
.wrapper header .navbar-top-wrapper .navbar-top .social-icons a i:hover {
  color: #626b68;
}
.wrapper header .main-navbar {
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper header .main-navbar .text-xl {
  font-weight: 700;
  margin-top: 0.5rem;
}
.wrapper header .main-navbar .main-nav {
  display: flex;
  gap: 5rem;
}
.wrapper header .main-navbar .main-nav a {
  text-decoration: none;
  color: #626b68;
}
.wrapper header .main-navbar .main-nav a:hover {
  color: #D9C3A9;
}
.wrapper header .main-navbar i {
  font-size: 1rem;
  color: #626b68;
  cursor: pointer;
  margin-top: 0.5rem;
}
.wrapper .showcase .showcase-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.wrapper .showcase .showcase-wrapper img {
  width: 100%;
  height: auto;
}
.wrapper .showcase .showcase-wrapper .showcase-text {
  position: absolute;
  z-index: 1;
  top: 9rem;
  left: 38.75rem;
  padding-right: 48rem;
}
.wrapper .showcase .showcase-wrapper .showcase-text .standard-text {
  padding: 2rem 0 4rem 0;
}
@media screen and (max-width: 1920px) {
  .wrapper .showcase .showcase-wrapper .showcase-text {
    left: 18.75rem;
    padding-right: 48rem;
  }
}
.wrapper .about-us .container {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.wrapper .about-us .about-info {
  max-width: 52%;
}
.wrapper .about-us .about-info .standard-heading {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
.wrapper .about-us .about-info .text-xl {
  font-weight: 300;
  color: #535656;
  padding: 1rem 0 1rem 0;
}
.wrapper .about-us .about-info .standard-text {
  padding-bottom: 1rem;
}
.wrapper .about-us .about-info img {
  padding-bottom: 1rem;
}
.wrapper .about-us .request-call-back {
  max-width: 44%;
  background-color: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: 1;
  top: -6rem;
  right: 0;
}
.wrapper .about-us .request-call-back .standard-heading {
  font-size: 30px;
  color: #F2EDDC;
  background-color: #4F5955;
  padding: 2.5rem 2rem 2.5rem 2rem;
}
.wrapper .about-us .request-call-back .call-back-box {
  padding: 2rem 2rem 3rem 2rem;
}
.wrapper .about-us .request-call-back .call-back-box .theme-btn {
  background-color: #F2EDDC;
  color: #4F5955;
  width: 100%;
  margin-top: 1.5rem;
}
.wrapper .about-us .request-call-back .call-back-box .theme-btn:hover {
  background-color: #4F5955;
  color: #F2EDDC;
}
.wrapper .our-service-wrapper {
  background-color: #F7F7F7;
}
.wrapper .our-service-wrapper .container {
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.wrapper .our-service-wrapper .container h1 {
  padding: 0.5rem 21rem 2rem 21rem;
}
.wrapper .our-service-wrapper .container .grid-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.wrapper .our-service-wrapper .container .grid-services .grid-card {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}
.wrapper .our-service-wrapper .container .grid-services .grid-card:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .our-service-wrapper .container .grid-services .grid-card .standard-heading {
  background-color: #ffffff;
  padding: 1rem 0 1rem 1.5rem;
  font-size: 22px;
}
.wrapper .our-service-wrapper .container .grid-services .grid-card img {
  width: 100%;
  height: auto;
}
.wrapper .our-service-wrapper .container .grid-services .grid-card .standard-text {
  background-color: #ffffff;
  padding: 1rem 4.5rem 2rem 2rem;
}
.wrapper .trust .container {
  padding-top: 6rem;
  position: relative;
}
.wrapper .trust .container .label-title {
  font-size: 40px;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
.wrapper .trust .container .text-m {
  padding: 0 16rem 2rem 16rem;
}
.wrapper .trust .container #dot-map-round {
  position: absolute;
  z-index: -1;
  top: 15%;
  right: 5.65%;
}
.wrapper .trust .container #group-photo {
  z-index: 1;
  padding-top: 5rem;
}
.wrapper .success-wrapper {
  background-color: #4F5955;
  padding-top: 3rem;
  padding-bottom: 30rem;
}
.wrapper .success-wrapper .container {
  position: relative;
}
.wrapper .success-wrapper .container .text-center {
  position: relative;
}
.wrapper .success-wrapper .container .text-center .standard-heading {
  color: white;
  padding-top: 0.5rem;
}
.wrapper .success-wrapper .container .text-center #dot-map-flat {
  position: absolute;
  right: 0rem;
  top: 15%;
  width: 100%;
}
.wrapper .success-wrapper .container .grid-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.wrapper .success-wrapper .container .grid-services .story-card {
  padding-top: 2rem;
}
.wrapper .success-wrapper .container .grid-services .story-card .label-title {
  font-size: 100px;
  font-weight: 600;
}
.wrapper .success-wrapper .container .grid-services .story-card .standard-text {
  color: #ffffff;
  font-weight: 600;
  padding: 0 1rem 0 1rem;
}
.wrapper .success-wrapper .container #success-pic {
  position: absolute;
  top: 130%;
  left: 50%;
  width: 81%;
  transform: translateX(-50%);
}
.wrapper .recent-projects {
  padding-top: 18rem;
}
.wrapper .recent-projects .container .standard-heading {
  padding-bottom: 2rem;
}
.wrapper .recent-projects .grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wrapper .recent-projects .grid-projects .projects-card {
  position: relative;
  cursor: pointer;
}
.wrapper .recent-projects .grid-projects .projects-card img {
  width: 100%;
  height: auto;
}
.wrapper .recent-projects .grid-projects .projects-card .project-overlay-active {
  position: absolute;
  width: 100%;
  padding: 3rem;
  background-color: #4F5955;
  bottom: 0;
  justify-content: space-between;
}
.wrapper .recent-projects .grid-projects .projects-card .project-overlay-active .text-l {
  color: #D9C3A9;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.wrapper .recent-projects .grid-projects .projects-card .project-overlay-active .standard-text {
  color: white;
}
.wrapper .recent-projects .grid-projects .projects-card .project-overlay-active i {
  font-size: 3.5rem;
  color: #ffffff;
}
.wrapper .recent-projects .grid-projects .projects-card .project-overlay {
  position: absolute;
  width: 100%;
  padding: 2rem;
  background-color: #4F5955;
  opacity: 0.75;
  bottom: 0;
}
.wrapper .recent-projects .grid-projects .projects-card .project-overlay .text-l {
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.wrapper .recent-projects .grid-projects .projects-card .project-overlay .standard-text {
  color: white;
}
.wrapper .footer-wrapper {
  background-color: #0E0E0E;
}
.wrapper .footer-wrapper .standard-text {
  padding: 1rem 0 1rem 0;
}
.wrapper .footer-wrapper .label-title {
  font-weight: 400;
  text-decoration: none;
}
.wrapper .footer-wrapper .label-title:hover {
  color: #ffffff;
  font-weight: 600;
}
