<?xml version="1.0" encoding="utf-8"?>
<Content Key="05f78a4e-932c-4c08-8a87-721f35f06d99" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-06-24T23:49:39</CreateDate>
    <NodeName Default="About" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f64f7a3a-ac8a-4ec8-96fe-feec893ffd48">about</Template>
  </Info>
  <Properties>
    <aboutUsImage>
      <Value><![CDATA[[
  {
    "key": "4b0b1b36-1f76-4b93-ad8f-5f431ac268e8",
    "mediaKey": "84e27516-734e-443e-bd0b-92715c129241",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsImage>
    <aboutUsImageText>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </aboutUsImageText>
    <aboutUsQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutUsQuote>
    <aboutUsText1>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </aboutUsText1>
    <aboutUsText2>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </aboutUsText2>
    <aboutUsText3>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutUsText3>
    <aboutUsText4>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </aboutUsText4>
    <aboutUsText5>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </aboutUsText5>
    <aboutUsText6>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutUsText6>
    <aboutUsText7>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutUsText7>
    <nextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectHeadline>
    <nextProjectImage>
      <Value><![CDATA[[
  {
    "key": "5ee2b08f-fe27-4a41-a76f-67ca08adb053",
    "mediaKey": "0f35c382-fb69-4473-b9bf-38754a36248a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImage>
    <nextProjectImageAlt>
      <Value><![CDATA[smiling guy with glasses with his arms crossed]]></Value>
    </nextProjectImageAlt>
    <nextProjectImageBehind>
      <Value><![CDATA[[
  {
    "key": "c565f4bc-835b-4155-8ea8-f5d7f4f37b87",
    "mediaKey": "777f3a20-fe83-4b6d-9045-0bc72e17b4e3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageBehind>
    <nextProjectImageBehindAlt>
      <Value><![CDATA[a shape and dots in a rectangular form]]></Value>
    </nextProjectImageBehindAlt>
    <nextProjectText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </nextProjectText>
    <nextProjectText2>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </nextProjectText2>
    <nextProjectText3>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </nextProjectText3>
    <nextProjectTextHeadline>
      <Value><![CDATA[Office location]]></Value>
    </nextProjectTextHeadline>
    <nextProjectTextHeadline2>
      <Value><![CDATA[Phone number]]></Value>
    </nextProjectTextHeadline2>
    <nextProjectTextHeadline3>
      <Value><![CDATA[E-mail address]]></Value>
    </nextProjectTextHeadline3>
    <reviewHeadline>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </reviewHeadline>
    <reviewImage>
      <Value><![CDATA[[
  {
    "key": "fa6350b1-74a3-45c4-ae18-c1e340a1dae6",
    "mediaKey": "b591a442-8cfd-44fa-9008-7a3ff6c70e3e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewImage>
    <reviewImageAlt>
      <Value><![CDATA[Picture of Kevin Gardner]]></Value>
    </reviewImageAlt>
    <reviewName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </reviewName>
    <reviewName2>
      <Value><![CDATA[Swedbank]]></Value>
    </reviewName2>
    <reviewText>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </reviewText>
    <reviewTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </reviewTitle>
    <tabLocationHeadline1>
      <Value><![CDATA[Home]]></Value>
    </tabLocationHeadline1>
    <tabLocationHeadline2>
      <Value><![CDATA[About]]></Value>
    </tabLocationHeadline2>
    <tabLocationTitle>
      <Value><![CDATA[About Us]]></Value>
    </tabLocationTitle>
    <teamCard1Headline>
      <Value><![CDATA[Brandon Newton]]></Value>
    </teamCard1Headline>
    <teamCard1Image>
      <Value><![CDATA[[
  {
    "key": "1222d86a-b6a7-44ca-95f5-ac3c8112604c",
    "mediaKey": "3ad87536-1717-475e-8278-f8c67e1197ba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamCard1Image>
    <teamCard1ImageAlt>
      <Value><![CDATA[Picture of employee Brandon Newton]]></Value>
    </teamCard1ImageAlt>
    <teamCard1Text>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamCard1Text>
    <teamCard2Headline>
      <Value><![CDATA[AJ Carter]]></Value>
    </teamCard2Headline>
    <teamCard2Image>
      <Value><![CDATA[[
  {
    "key": "99dbcb05-f0ad-4600-92ca-e54c04d7776d",
    "mediaKey": "3056dee7-63b1-4bf2-8191-c8baef852dd3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamCard2Image>
    <teamCard2ImageAlt>
      <Value><![CDATA[Picture of employee AJ Carter]]></Value>
    </teamCard2ImageAlt>
    <teamCard2Text>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </teamCard2Text>
    <teamCard3Headline>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </teamCard3Headline>
    <teamCard3Image>
      <Value><![CDATA[[
  {
    "key": "78ec7afa-08da-4078-98b1-86fac4f57d81",
    "mediaKey": "60d6790b-c0aa-43f4-8576-21e5ee0b404f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamCard3Image>
    <teamCard3ImageAlt>
      <Value><![CDATA[Picture of employee Aaron Lambert]]></Value>
    </teamCard3ImageAlt>
    <teamCard3Text>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </teamCard3Text>
    <teamCard4Headline>
      <Value><![CDATA[Tina Fox]]></Value>
    </teamCard4Headline>
    <teamCard4Image>
      <Value><![CDATA[[
  {
    "key": "159d0d93-4adc-4a30-8cfc-3cebe7475b09",
    "mediaKey": "0ca8c716-95bc-46b3-b566-4e31830c0ac1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamCard4Image>
    <teamCard4ImageAlt>
      <Value><![CDATA[Picture of employee Tina Fox]]></Value>
    </teamCard4ImageAlt>
    <teamCard4Text>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </teamCard4Text>
    <teamCard5Headline>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </teamCard5Headline>
    <teamCard5Image>
      <Value><![CDATA[[
  {
    "key": "f02022e5-0ea7-471c-bc0d-329b205618c1",
    "mediaKey": "6bf9adfa-6131-4b0b-98d5-d4a198ee8b8a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamCard5Image>
    <teamCard5ImageAlt>
      <Value><![CDATA[Picture of employee Brandon Kerr]]></Value>
    </teamCard5ImageAlt>
    <teamCard5Text>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </teamCard5Text>
    <teamCard6Headline>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </teamCard6Headline>
    <teamCard6Image>
      <Value><![CDATA[[
  {
    "key": "d1f6ad83-fc1b-40b8-81d6-013eae9f6675",
    "mediaKey": "8120eb5d-1d08-4c83-a381-98d1fccd62f2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamCard6Image>
    <teamCard6ImageAlt>
      <Value><![CDATA[Picture of employee Miranda Dayton]]></Value>
    </teamCard6ImageAlt>
    <teamCard6Text>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </teamCard6Text>
    <teamCard7Headline>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </teamCard7Headline>
    <teamCard7Image>
      <Value><![CDATA[[
  {
    "key": "81d9fe59-e21b-4b2a-898c-86d29303950f",
    "mediaKey": "0b2e57d8-929d-4aa5-a7a2-927f330e9e8f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamCard7Image>
    <teamCard7ImageAlt>
      <Value><![CDATA[Picture of banking advisor Kevin Gardner]]></Value>
    </teamCard7ImageAlt>
    <teamCard7Text>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </teamCard7Text>
    <teamHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </teamHeadline>
    <teamTitle>
      <Value><![CDATA[Our expert]]></Value>
    </teamTitle>
  </Properties>
</Content>