<?xml version="1.0" encoding="utf-8"?>
<Content Key="85648660-5994-495b-8f08-df4c0a35cfff" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2025-06-25T23:18:00</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="619da906-3f91-4e5e-ae2a-ba62c3536adb">Contact</Template>
  </Info>
  <Properties>
    <callBackFormBtnText>
      <Value><![CDATA[Submit]]></Value>
    </callBackFormBtnText>
    <callBackFormText1>
      <Value><![CDATA[Name]]></Value>
    </callBackFormText1>
    <callBackFormText2>
      <Value><![CDATA[Phone]]></Value>
    </callBackFormText2>
    <callBackFormText3>
      <Value><![CDATA[Email address]]></Value>
    </callBackFormText3>
    <callBackFormText4>
      <Value><![CDATA[Financial consulting]]></Value>
    </callBackFormText4>
    <callBackHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </callBackHeadline>
    <callBackText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </callBackText>
    <callBackTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </callBackTitle>
    <contactMap>
      <Value><![CDATA[https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4069.332583806503!2d18.049260499737986!3d59.330591984228775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d61b5b2a595%3A0xd9fa560691e12d7!2sKlarabergsviadukten%2090%2C%20111%2064%20Stockholm!5e0!3m2!1ssv!2sse!4v1750193321803!5m2!1ssv!2sse]]></Value>
    </contactMap>
    <contactTabHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </contactTabHeadline>
    <contactTabText1>
      <Value><![CDATA[Home]]></Value>
    </contactTabText1>
    <contactTabText2>
      <Value><![CDATA[Contact]]></Value>
    </contactTabText2>
    <nextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectHeadline>
    <nextProjectImage>
      <Value><![CDATA[[
  {
    "key": "89b32047-2d39-4a7f-af2f-70f8c2de9db8",
    "mediaKey": "0f35c382-fb69-4473-b9bf-38754a36248a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImage>
    <nextProjectImageAlt>
      <Value><![CDATA[smiling guy with glasses with his arms crossed]]></Value>
    </nextProjectImageAlt>
    <nextProjectImageBehind>
      <Value><![CDATA[[
  {
    "key": "1e7a6308-3ece-4373-88b9-7694471e166c",
    "mediaKey": "777f3a20-fe83-4b6d-9045-0bc72e17b4e3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageBehind>
    <nextProjectImageBehindAlt>
      <Value><![CDATA[a shape and dots in a rectangular form]]></Value>
    </nextProjectImageBehindAlt>
    <nextProjectText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </nextProjectText>
    <nextProjectText2>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </nextProjectText2>
    <nextProjectText3>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </nextProjectText3>
    <nextProjectTextHeadline>
      <Value><![CDATA[Office location]]></Value>
    </nextProjectTextHeadline>
    <nextProjectTextHeadline2>
      <Value><![CDATA[Phone number]]></Value>
    </nextProjectTextHeadline2>
    <nextProjectTextHeadline3>
      <Value><![CDATA[E-mail address]]></Value>
    </nextProjectTextHeadline3>
    <recentProjectCompany1Image>
      <Value><![CDATA[[
  {
    "key": "90ffcf64-203f-4b0a-a34a-2f6404c6c6b7",
    "mediaKey": "60c4a746-6807-44a6-8e63-6175fedc7789",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany1Image>
    <recentProjectCompany2Image>
      <Value><![CDATA[[
  {
    "key": "201645af-38f5-431c-bcce-f9449103aacd",
    "mediaKey": "559241ca-0fb9-4577-9fea-8ffe3ac58efb",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany2Image>
    <recentProjectCompany3Image>
      <Value><![CDATA[[
  {
    "key": "ac6915dd-b2ee-407a-8d22-59561e00d7c8",
    "mediaKey": "556c5b00-8544-4fd6-aebe-b6ebb9155493",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany3Image>
    <recentProjectCompany4Image>
      <Value><![CDATA[[
  {
    "key": "bef9b57b-5bd7-46e1-a507-235d927f8df1",
    "mediaKey": "0a353d7c-8a3d-4945-a592-900b4ff696ff",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany4Image>
    <recentProjectCompany5Image>
      <Value><![CDATA[[
  {
    "key": "8fc10ac4-bcae-4544-a621-cee973cb2bfc",
    "mediaKey": "fe957c19-e26c-4159-a98d-86531ecffbe9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany5Image>
    <recentProjectCompany6Image>
      <Value><![CDATA[[
  {
    "key": "47843cd7-7478-41ca-aa3b-2460c0ac7af7",
    "mediaKey": "484c0802-581e-48dc-aa1d-5a6ba84365a2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany6Image>
    <recentProjectCompanyAlt>
      <Value><![CDATA[Recent project company logo]]></Value>
    </recentProjectCompanyAlt>
  </Properties>
</Content>