<?xml version="1.0" encoding="utf-8"?>
<Content Key="54c60982-81d2-4e02-86de-31e59e3e69c9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-06-24T00:35:55</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f61f420-708a-4670-8805-1c9ea4121cd0">HomePage</Template>
  </Info>
  <Properties>
    <aboutCallBtnText>
      <Value><![CDATA[Submit]]></Value>
    </aboutCallBtnText>
    <aboutCallFormEmail>
      <Value><![CDATA[Email address]]></Value>
    </aboutCallFormEmail>
    <aboutCallFormJob>
      <Value><![CDATA[Financial consulting]]></Value>
    </aboutCallFormJob>
    <aboutCallFormName>
      <Value><![CDATA[Name]]></Value>
    </aboutCallFormName>
    <aboutCallFormPhone>
      <Value><![CDATA[Phone]]></Value>
    </aboutCallFormPhone>
    <aboutCallHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </aboutCallHeadline>
    <aboutCallText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </aboutCallText>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "45920399-5400-4931-96dd-a8f63b7f55fc",
    "mediaKey": "4759289b-cbc0-431c-9880-c3f43762c7e6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutUsHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutUsHeadline>
    <aboutUsQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutUsQuote>
    <aboutUsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutUsText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "02d5af26-ee8f-415c-8346-bc531fa84fff",
    "mediaKey": "007f0dd0-500d-49e4-8747-cf74cdf6af9c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroBtnText>
      <Value><![CDATA[Contact us]]></Value>
    </heroBtnText>
    <heroBtnUrl>
      <Value><![CDATA[Contact]]></Value>
    </heroBtnUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <recentProjectCard1Headline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </recentProjectCard1Headline>
    <recentProjectCard1Image>
      <Value><![CDATA[[
  {
    "key": "6599c8cd-7604-4148-b6c9-2a5a19e782f4",
    "mediaKey": "d4840bec-ebc7-44d3-8a73-4ee052483eb2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCard1Image>
    <recentProjectCard1ImageAlt>
      <Value><![CDATA[Background Image for company Juva Inc report]]></Value>
    </recentProjectCard1ImageAlt>
    <recentProjectCard1ImageUrl>
      <Value><![CDATA[Juva-Inc]]></Value>
    </recentProjectCard1ImageUrl>
    <recentProjectCard1Text>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectCard1Text>
    <recentProjectCard1Url>
      <Value><![CDATA[Juva-Inc]]></Value>
    </recentProjectCard1Url>
    <recentProjectCard2Headline>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </recentProjectCard2Headline>
    <recentProjectCard2Image>
      <Value><![CDATA[[
  {
    "key": "5d100626-cd15-4e78-854b-6062524fa0ba",
    "mediaKey": "55b79a93-d48a-4821-b509-3b861c149463",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCard2Image>
    <recentProjectCard2ImageAlt>
      <Value><![CDATA[Background Image for company SP Group Inc report]]></Value>
    </recentProjectCard2ImageAlt>
    <recentProjectCard2Text>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectCard2Text>
    <recentProjectCard3Headline>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </recentProjectCard3Headline>
    <recentProjectCard3Image>
      <Value><![CDATA[[
  {
    "key": "b8f124ad-fdda-44fd-83a4-1156e83da7a5",
    "mediaKey": "9407be2c-8c4c-46df-9454-f3ed0051a998",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCard3Image>
    <recentProjectCard3ImageAlt>
      <Value><![CDATA[Background Image for company Irra Corp Inc]]></Value>
    </recentProjectCard3ImageAlt>
    <recentProjectCard3Text>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectCard3Text>
    <recentProjectCard4Headline>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </recentProjectCard4Headline>
    <recentProjectCard4Image>
      <Value><![CDATA[[
  {
    "key": "3309e255-93a0-4b31-a496-1b6c23690d80",
    "mediaKey": "d789a8aa-1281-43f4-a117-c0b990d43e14",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCard4Image>
    <recentProjectCard4ImageAlt>
      <Value><![CDATA[Background Image for company Buccura Inc]]></Value>
    </recentProjectCard4ImageAlt>
    <recentProjectCard4Text>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectCard4Text>
    <recentProjectCompany1>
      <Value><![CDATA[[
  {
    "key": "d6f857ed-4d06-4bfd-a3a0-feb05b908827",
    "mediaKey": "60c4a746-6807-44a6-8e63-6175fedc7789",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany1>
    <recentProjectCompany2Image>
      <Value><![CDATA[[
  {
    "key": "8b10a14d-2e73-493e-9a22-712d5e73973c",
    "mediaKey": "559241ca-0fb9-4577-9fea-8ffe3ac58efb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany2Image>
    <recentProjectCompany3Image>
      <Value><![CDATA[[
  {
    "key": "3a532257-9248-44cd-a051-c08905480c87",
    "mediaKey": "556c5b00-8544-4fd6-aebe-b6ebb9155493",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany3Image>
    <recentProjectCompany4Image>
      <Value><![CDATA[[
  {
    "key": "efcb518d-f295-4d4c-ad88-50fa53101d10",
    "mediaKey": "0a353d7c-8a3d-4945-a592-900b4ff696ff",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany4Image>
    <recentProjectCompany5Image>
      <Value><![CDATA[[
  {
    "key": "5703a02b-3b1f-42fc-ab4b-de3196ac929d",
    "mediaKey": "fe957c19-e26c-4159-a98d-86531ecffbe9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany5Image>
    <recentProjectCompany6Image>
      <Value><![CDATA[[
  {
    "key": "d5549760-970f-4560-967d-e47a80d56bb1",
    "mediaKey": "484c0802-581e-48dc-aa1d-5a6ba84365a2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectCompany6Image>
    <recentProjectCompanyAlt>
      <Value><![CDATA[Recent project company logo]]></Value>
    </recentProjectCompanyAlt>
    <recentProjectHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </recentProjectHeadline>
    <recentProjectTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </recentProjectTitle>
    <serviceCard1Headline>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceCard1Headline>
    <serviceCard1Image>
      <Value><![CDATA[[
  {
    "key": "c3e8f785-eb52-4840-9605-d4898c96100d",
    "mediaKey": "c5d571c0-f4b2-4384-9911-7ffa0fff3642",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard1Image>
    <serviceCard1ImageAlt>
      <Value><![CDATA[showcase image for Risk Management]]></Value>
    </serviceCard1ImageAlt>
    <serviceCard1Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard1Text>
    <serviceCard1Url>
      <Value><![CDATA[Risk-Management]]></Value>
    </serviceCard1Url>
    <serviceCard2Headline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceCard2Headline>
    <serviceCard2Image>
      <Value><![CDATA[[
  {
    "key": "383cd30f-281c-4527-b986-bec45bc80fbd",
    "mediaKey": "7b337d7a-bcef-4e2c-8d48-ddffac5437b9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard2Image>
    <serviceCard2ImageAlt>
      <Value><![CDATA[showcase image for Bonds & Commodities]]></Value>
    </serviceCard2ImageAlt>
    <serviceCard2Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard2Text>
    <serviceCard3Headline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceCard3Headline>
    <serviceCard3Image>
      <Value><![CDATA[[
  {
    "key": "a3781d4f-5354-4d2d-b518-89d0e55b7635",
    "mediaKey": "b74f5a1d-6ad6-4b89-949c-1d82a443ae50",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard3Image>
    <serviceCard3ImageAlt>
      <Value><![CDATA[showcase image for Assurance & Audits]]></Value>
    </serviceCard3ImageAlt>
    <serviceCard3Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard3Text>
    <serviceCard4Headline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceCard4Headline>
    <serviceCard4Image>
      <Value><![CDATA[[
  {
    "key": "b813461b-60f6-44d5-8930-061d1b872b82",
    "mediaKey": "dcf87dd4-02f0-4f77-b6f8-dcee242e3999",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard4Image>
    <serviceCard4ImageAlt>
      <Value><![CDATA[showcase image for Tax and Trusts]]></Value>
    </serviceCard4ImageAlt>
    <serviceCard4Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard4Text>
    <serviceCard5Headline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceCard5Headline>
    <serviceCard5Image>
      <Value><![CDATA[[
  {
    "key": "9ee8e964-2d45-4a81-9965-fddb10231529",
    "mediaKey": "d34dc32d-bba1-43f8-b332-a52d34c783ec",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard5Image>
    <serviceCard5ImageAlt>
      <Value><![CDATA[showcase image for Financial Advisor]]></Value>
    </serviceCard5ImageAlt>
    <serviceCard5Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard5Text>
    <serviceCard6Headline>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceCard6Headline>
    <serviceCard6Image>
      <Value><![CDATA[[
  {
    "key": "1a3e8086-1036-43b9-b054-301f579c7538",
    "mediaKey": "eda8a928-8415-480b-a67c-bdc66a8174eb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard6Image>
    <serviceCard6ImageAlt>
      <Value><![CDATA[showcase image for Statistic Advisors]]></Value>
    </serviceCard6ImageAlt>
    <serviceCard6Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard6Text>
    <serviceHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </serviceHeadline>
    <serviceLabel>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </serviceLabel>
    <successBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "88c494aa-6d7c-481e-b0bf-555be119a109",
    "mediaKey": "305df5b3-f93e-4c05-96bb-3c2c4e3b5362",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successBackgroundImage>
    <successBackgroundImageAlt>
      <Value><![CDATA[Background image for section Success]]></Value>
    </successBackgroundImageAlt>
    <successBackgroundImageBehind>
      <Value><![CDATA[[
  {
    "key": "bb4a7b6b-72ea-445b-a381-51488d0387e9",
    "mediaKey": "8d20b8be-e42d-4655-8d0d-d848e3359fcc",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successBackgroundImageBehind>
    <successBackgroundImageBehindAlt>
      <Value><![CDATA[dotted world map as background image]]></Value>
    </successBackgroundImageBehindAlt>
    <successCard1Headline>
      <Value><![CDATA[689]]></Value>
    </successCard1Headline>
    <successCard1Text>
      <Value><![CDATA[More than 100 custastomers has been served]]></Value>
    </successCard1Text>
    <successCard2Headline>
      <Value><![CDATA[370]]></Value>
    </successCard2Headline>
    <successCard2Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successCard2Text>
    <successCard3Headline>
      <Value><![CDATA[125]]></Value>
    </successCard3Headline>
    <successCard3Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successCard3Text>
    <successHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successHeadline>
    <successTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successTitle>
    <trustBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "af3582f3-b4ff-4ac4-8f20-3995b8a48dd9",
    "mediaKey": "cadc96e0-fd01-4fca-83d9-132f4eb6b914",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustBackgroundImage>
    <trustBackgroundImageAlt>
      <Value><![CDATA[Background image for section Trust]]></Value>
    </trustBackgroundImageAlt>
    <trustBackgroundImageBehind>
      <Value><![CDATA[[
  {
    "key": "4696e3cc-6f45-4e74-9190-c3c61b4d5f7f",
    "mediaKey": "f85b930a-ef8e-437a-b1eb-cc7dd5eceb07",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustBackgroundImageBehind>
    <trustBackgroundImageBehindAlt>
      <Value><![CDATA[a dotted world map as background image]]></Value>
    </trustBackgroundImageBehindAlt>
    <trustBtnText>
      <Value><![CDATA[Read our story]]></Value>
    </trustBtnText>
    <trustHeadline1>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustHeadline1>
    <trustHeadline2>
      <Value><![CDATA[4.000+ clients]]></Value>
    </trustHeadline2>
    <trustText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </trustText>
  </Properties>
</Content>