<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3514fb0-9a05-44be-8e3f-208f78c0a562" Alias="Juva-Inc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>juvaInc</ContentType>
    <CreateDate>2025-06-25T22:13:05</CreateDate>
    <NodeName Default="Juva-Inc" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e647bb20-8d94-4db9-a647-b62304c5a480">JuvaInc</Template>
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[June 15, 2024]]></Value>
    </date>
    <headline1>
      <Value><![CDATA[Suggestions for you]]></Value>
    </headline1>
    <headline2>
      <Value><![CDATA[Nunc facilisis ante quis gravida mollis]]></Value>
    </headline2>
    <headline2Text1>
      <Value><![CDATA[Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus.]]></Value>
    </headline2Text1>
    <headline2Text2>
      <Value><![CDATA[Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum]]></Value>
    </headline2Text2>
    <headline3>
      <Value><![CDATA[Nullam at blandit felis, ut efficitur lorem. Nulla pharetra turpis eget dictum condimentum]]></Value>
    </headline3>
    <headline3Text1>
      <Value><![CDATA[Cras posuere tristique urna sodales laoreet. Phasellus nibh nunc, porttitor vitae elementum eget, condimentum lobortis metus. Aenean imperdiet suscipit dui]]></Value>
    </headline3Text1>
    <headline3Text2>
      <Value><![CDATA[Integer quis massa sit amet diam feugiat molestie. Morbi egestas arcu eu sapien accumsan, et tempor velit viverra. Ut varius euismod malesuada. Vestibulum consectetur justo turpis. Vivamus varius purus consequat urna maximus molestie. Sed facilisis maximus quam id pretium. Donec ac orci vel quam semper tristique. Maecenas facilisis, urna sed congue pellentesque, justo augue semper nulla]]></Value>
    </headline3Text2>
    <headline3Text3>
      <Value><![CDATA[Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies congue ac pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue.]]></Value>
    </headline3Text3>
    <headline4>
      <Value><![CDATA[Nunc facilisis ante quis gravida mollis]]></Value>
    </headline4>
    <headline4Text1>
      <Value><![CDATA[Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus. Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum]]></Value>
    </headline4Text1>
    <headline4Text2>
      <Value><![CDATA[Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies congue ac pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue.]]></Value>
    </headline4Text2>
    <helpFormText>
      <Value><![CDATA[Email address]]></Value>
    </helpFormText>
    <helpHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </helpHeadline>
    <helpText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </helpText>
    <juvaImage1>
      <Value><![CDATA[[
  {
    "key": "621ba26f-c594-4c03-87ca-9ba803147190",
    "mediaKey": "b22802c3-6da2-44af-8451-129b6586db3f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </juvaImage1>
    <juvaImage1Alt>
      <Value><![CDATA[people sitting around a table discussing]]></Value>
    </juvaImage1Alt>
    <juvaImage2>
      <Value><![CDATA[[
  {
    "key": "22453847-64ea-4729-a1a4-82f3f1235f7e",
    "mediaKey": "0e975196-190e-495d-be65-33787e6a7d71",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </juvaImage2>
    <juvaImage2Alt>
      <Value><![CDATA[woman sitting outside with her laptop on her knees]]></Value>
    </juvaImage2Alt>
    <juvaImage3>
      <Value><![CDATA[[
  {
    "key": "5ac4dd00-5069-4830-a28e-50c7a2009b85",
    "mediaKey": "6dd42e89-19fd-49b6-ab5e-059a92e3c062",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </juvaImage3>
    <juvaImage3Alt>
      <Value><![CDATA[A man and a woman looking at a laptop]]></Value>
    </juvaImage3Alt>
    <juvaTabHeadline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </juvaTabHeadline>
    <juvaTabText1>
      <Value><![CDATA[Home]]></Value>
    </juvaTabText1>
    <juvaTabText2>
      <Value><![CDATA[Projects]]></Value>
    </juvaTabText2>
    <juvaTabText3>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </juvaTabText3>
    <keyNoteText1>
      <Value><![CDATA[Financial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.]]></Value>
    </keyNoteText1>
    <keyNoteText2>
      <Value><![CDATA[Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue]]></Value>
    </keyNoteText2>
    <keyNoteText3>
      <Value><![CDATA[In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.]]></Value>
    </keyNoteText3>
    <nextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectHeadline>
    <nextProjectImage>
      <Value><![CDATA[[
  {
    "key": "ca9a122a-389c-4f8a-9cf2-78ef033242c1",
    "mediaKey": "0f35c382-fb69-4473-b9bf-38754a36248a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImage>
    <nextProjectImageAlt>
      <Value><![CDATA[smiling guy with glasses with his arms crossed]]></Value>
    </nextProjectImageAlt>
    <nextProjectImageBehind>
      <Value><![CDATA[[
  {
    "key": "7e77bac9-53cc-498d-bec1-8c0d4474c585",
    "mediaKey": "777f3a20-fe83-4b6d-9045-0bc72e17b4e3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageBehind>
    <nextProjectImageBehindAlt>
      <Value><![CDATA[a shape and dots in a rectangular form]]></Value>
    </nextProjectImageBehindAlt>
    <nextProjectText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </nextProjectText>
    <nextProjectText2>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </nextProjectText2>
    <nextProjectText3>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </nextProjectText3>
    <nextProjectTextHeadline>
      <Value><![CDATA[Office location]]></Value>
    </nextProjectTextHeadline>
    <nextProjectTextHeadline2>
      <Value><![CDATA[Phone number]]></Value>
    </nextProjectTextHeadline2>
    <nextProjectTextHeadline3>
      <Value><![CDATA[E-mail address]]></Value>
    </nextProjectTextHeadline3>
    <smallHeadline>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis.]]></Value>
    </smallHeadline>
    <tagHeadline>
      <Value><![CDATA[Tags:]]></Value>
    </tagHeadline>
    <tagsHeadline>
      <Value><![CDATA[Tags]]></Value>
    </tagsHeadline>
    <tagsText1>
      <Value><![CDATA[Report]]></Value>
    </tagsText1>
    <tagsText2>
      <Value><![CDATA[Busines plans]]></Value>
    </tagsText2>
    <tagsText3>
      <Value><![CDATA[Insights]]></Value>
    </tagsText3>
    <tagsText4>
      <Value><![CDATA[Business]]></Value>
    </tagsText4>
    <tagsText5>
      <Value><![CDATA[App]]></Value>
    </tagsText5>
    <tagsText6>
      <Value><![CDATA[Project]]></Value>
    </tagsText6>
    <tagsText7>
      <Value><![CDATA[Finance]]></Value>
    </tagsText7>
    <tagsText8>
      <Value><![CDATA[Pricing]]></Value>
    </tagsText8>
    <tagText1>
      <Value><![CDATA[Business]]></Value>
    </tagText1>
    <tagText2>
      <Value><![CDATA[Consulting]]></Value>
    </tagText2>
    <tagText3>
      <Value><![CDATA[Onatrix]]></Value>
    </tagText3>
  </Properties>
</Content>