<?xml version="1.0" encoding="utf-8"?>
<Content Key="503690c3-40e9-4c57-a6d9-9eb4d98b08ac" Alias="Main-Layout" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MainLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>mainPage</ContentType>
    <CreateDate>2025-06-24T02:49:57</CreateDate>
    <NodeName Default="Main-Layout" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerLinkText>
      <Value><![CDATA[Themesflat]]></Value>
    </footerLinkText>
    <footerText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerText>
    <headerBottomLink1Text>
      <Value><![CDATA[About]]></Value>
    </headerBottomLink1Text>
    <headerBottomLink1Url>
      <Value><![CDATA[About]]></Value>
    </headerBottomLink1Url>
    <headerBottomLink2Text>
      <Value><![CDATA[Services]]></Value>
    </headerBottomLink2Text>
    <headerBottomLink2Url>
      <Value><![CDATA[Services]]></Value>
    </headerBottomLink2Url>
    <headerBottomLink3Text>
      <Value><![CDATA[Projects]]></Value>
    </headerBottomLink3Text>
    <headerBottomLink3Url>
      <Value><![CDATA[Projects]]></Value>
    </headerBottomLink3Url>
    <headerBottomLink4Text>
      <Value><![CDATA[Contact]]></Value>
    </headerBottomLink4Text>
    <headerBottomLink4Url>
      <Value><![CDATA[Contact]]></Value>
    </headerBottomLink4Url>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "c14dba6a-d232-4326-8b9d-db5a657f29c5",
    "mediaKey": "8b995c44-daa9-4c50-8de2-6ae5db0d5487",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <headerLogoUrl>
      <Value><![CDATA[Home]]></Value>
    </headerLogoUrl>
    <headerTopLink1>
      <Value><![CDATA[https://www.facebook.com/]]></Value>
    </headerTopLink1>
    <headerTopLink2>
      <Value><![CDATA[https://x.com/]]></Value>
    </headerTopLink2>
    <headerTopLink3>
      <Value><![CDATA[https://www.linkedin.com/feed/]]></Value>
    </headerTopLink3>
    <headerTopText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </headerTopText>
  </Properties>
</Content>