<?xml version="1.0" encoding="utf-8"?>
<Content Key="4dd7dc85-0947-44cc-a587-b3990b474d20" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2025-06-25T19:48:04</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb56b11e-6392-423b-87f2-7d506d158b5f">Projects</Template>
  </Info>
  <Properties>
    <helpFormText>
      <Value><![CDATA[Email address]]></Value>
    </helpFormText>
    <helpHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </helpHeadline>
    <helpText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </helpText>
    <nextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectHeadline>
    <nextProjectImage>
      <Value><![CDATA[[
  {
    "key": "d8bfe0d1-de36-45af-97b8-4d348a6ed924",
    "mediaKey": "0f35c382-fb69-4473-b9bf-38754a36248a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImage>
    <nextProjectImageAlt>
      <Value><![CDATA[smiling guy with glasses with his arms crossed]]></Value>
    </nextProjectImageAlt>
    <nextProjectImageBehind>
      <Value><![CDATA[[
  {
    "key": "4f425668-2f67-412f-b89a-e81b07ac993f",
    "mediaKey": "777f3a20-fe83-4b6d-9045-0bc72e17b4e3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageBehind>
    <nextProjectImageBehindAlt>
      <Value><![CDATA[a shape and dots in a rectangular form]]></Value>
    </nextProjectImageBehindAlt>
    <nextProjectText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </nextProjectText>
    <nextProjectText2>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </nextProjectText2>
    <nextProjectText3>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </nextProjectText3>
    <nextProjectTextHeadline>
      <Value><![CDATA[Office location]]></Value>
    </nextProjectTextHeadline>
    <nextProjectTextHeadline2>
      <Value><![CDATA[Phone number]]></Value>
    </nextProjectTextHeadline2>
    <nextProjectTextHeadline3>
      <Value><![CDATA[E-mail address]]></Value>
    </nextProjectTextHeadline3>
    <projectCard1Date>
      <Value><![CDATA[June 15, 2024]]></Value>
    </projectCard1Date>
    <projectCard1Headline>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectCard1Headline>
    <projectCard1Image>
      <Value><![CDATA[[
  {
    "key": "182d166f-6eae-43a1-a58b-b954125b3574",
    "mediaKey": "388c76d3-e6b9-49a7-af21-bf30d2638cd0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCard1Image>
    <projectCard1ImageAlt>
      <Value><![CDATA[background photo for Juva Inc]]></Value>
    </projectCard1ImageAlt>
    <projectCard1LinkText>
      <Value><![CDATA[Read more]]></Value>
    </projectCard1LinkText>
    <projectCard1LinkUrl>
      <Value><![CDATA[Juva-Inc]]></Value>
    </projectCard1LinkUrl>
    <projectCard1Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectCard1Text>
    <projectCard2Date>
      <Value><![CDATA[May 17, 2024]]></Value>
    </projectCard2Date>
    <projectCard2Headline>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </projectCard2Headline>
    <projectCard2Image>
      <Value><![CDATA[[
  {
    "key": "15bfb446-c469-496e-82d4-b23f0703272c",
    "mediaKey": "ec608598-1b2e-485e-89f2-274dbfd7068f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCard2Image>
    <projectCard2ImageAlt>
      <Value><![CDATA[background photo for SP Group]]></Value>
    </projectCard2ImageAlt>
    <projectCard2Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectCard2Text>
    <projectCard3Date>
      <Value><![CDATA[February 6, 2024]]></Value>
    </projectCard3Date>
    <projectCard3Headline>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </projectCard3Headline>
    <projectCard3Image>
      <Value><![CDATA[[
  {
    "key": "419acad8-b0b5-414b-9c45-564a80ee1ffa",
    "mediaKey": "0a600c34-82a4-444b-8389-4933aa0f6ae5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCard3Image>
    <projectCard3ImageAlt>
      <Value><![CDATA[background photo for Irra Group]]></Value>
    </projectCard3ImageAlt>
    <projectCard3Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectCard3Text>
    <projectCard4Date>
      <Value><![CDATA[January 3, 2024]]></Value>
    </projectCard4Date>
    <projectCard4Headline>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </projectCard4Headline>
    <projectCard4Image>
      <Value><![CDATA[[
  {
    "key": "21f17564-1587-423c-a388-f66670fdf7c8",
    "mediaKey": "1fad2f16-efa3-46bf-8674-7be73a12616b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectCard4Image>
    <projectCard4ImageAlt>
      <Value><![CDATA[background photo for Buccura Inc]]></Value>
    </projectCard4ImageAlt>
    <projectCard4Text>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectCard4Text>
    <projectsTabHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </projectsTabHeadline>
    <projectsTabText1>
      <Value><![CDATA[Home]]></Value>
    </projectsTabText1>
    <projectsTabText2>
      <Value><![CDATA[Projects]]></Value>
    </projectsTabText2>
    <servicesTabChangeText1>
      <Value><![CDATA[Prev]]></Value>
    </servicesTabChangeText1>
    <servicesTabChangeText2>
      <Value><![CDATA[1]]></Value>
    </servicesTabChangeText2>
    <servicesTabChangeText3>
      <Value><![CDATA[2]]></Value>
    </servicesTabChangeText3>
    <servicesTabChangeText4>
      <Value><![CDATA[Next]]></Value>
    </servicesTabChangeText4>
    <tagHeadline>
      <Value><![CDATA[Tags]]></Value>
    </tagHeadline>
    <tagText1>
      <Value><![CDATA[Report]]></Value>
    </tagText1>
    <tagText2>
      <Value><![CDATA[Busines plans]]></Value>
    </tagText2>
    <tagText3>
      <Value><![CDATA[Insights]]></Value>
    </tagText3>
    <tagText4>
      <Value><![CDATA[Business]]></Value>
    </tagText4>
    <tagText5>
      <Value><![CDATA[App]]></Value>
    </tagText5>
    <tagText6>
      <Value><![CDATA[Project]]></Value>
    </tagText6>
    <tagText7>
      <Value><![CDATA[Finance]]></Value>
    </tagText7>
    <tagText8>
      <Value><![CDATA[Pricing]]></Value>
    </tagText8>
  </Properties>
</Content>