<?xml version="1.0" encoding="utf-8"?>
<Content Key="95a5342f-176a-4d47-877d-5cb30b2dd8d7" Alias="Risk-Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>riskManagement</ContentType>
    <CreateDate>2025-06-25T16:48:06</CreateDate>
    <NodeName Default="Risk-Management" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6575061e-68b7-491a-bd0c-25e927b1ed28">RiskManagement</Template>
  </Info>
  <Properties>
    <nextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectHeadline>
    <nextProjectImage>
      <Value><![CDATA[[
  {
    "key": "e86310a4-2e84-4529-8608-638279753824",
    "mediaKey": "0f35c382-fb69-4473-b9bf-38754a36248a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImage>
    <nextProjectImageAlt>
      <Value><![CDATA[smiling guy with glasses with his arms crossed]]></Value>
    </nextProjectImageAlt>
    <nextProjectImageBehind>
      <Value><![CDATA[[
  {
    "key": "eec8c84a-d799-4cfc-ad58-db3bd34749a8",
    "mediaKey": "777f3a20-fe83-4b6d-9045-0bc72e17b4e3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageBehind>
    <nextProjectImageBehindAlt>
      <Value><![CDATA[a shape and dots in a rectangular form]]></Value>
    </nextProjectImageBehindAlt>
    <nextProjectText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </nextProjectText>
    <nextProjectText2>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </nextProjectText2>
    <nextProjectText3>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </nextProjectText3>
    <nextProjectTextHeadline>
      <Value><![CDATA[Office location]]></Value>
    </nextProjectTextHeadline>
    <nextProjectTextHeadline2>
      <Value><![CDATA[Phone number]]></Value>
    </nextProjectTextHeadline2>
    <nextProjectTextHeadline3>
      <Value><![CDATA[E-mail address]]></Value>
    </nextProjectTextHeadline3>
    <questionBtnText>
      <Value><![CDATA[Submit]]></Value>
    </questionBtnText>
    <questionFormText1>
      <Value><![CDATA[Name]]></Value>
    </questionFormText1>
    <questionFormText2>
      <Value><![CDATA[Email]]></Value>
    </questionFormText2>
    <questionFormText3>
      <Value><![CDATA[Question]]></Value>
    </questionFormText3>
    <questionHeadline>
      <Value><![CDATA[Have a question ?]]></Value>
    </questionHeadline>
    <riskManagementContentLeftFormText>
      <Value><![CDATA[E-mail address]]></Value>
    </riskManagementContentLeftFormText>
    <riskManagementContentLeftHeadline1>
      <Value><![CDATA[About us]]></Value>
    </riskManagementContentLeftHeadline1>
    <riskManagementContentLeftHeadline2>
      <Value><![CDATA[How can we help you?]]></Value>
    </riskManagementContentLeftHeadline2>
    <riskManagementContentLeftImage>
      <Value><![CDATA[[
  {
    "key": "2817a765-4a23-430d-8a94-b6e69a4865f6",
    "mediaKey": "a226a226-cd63-4197-a64c-7909eb564263",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementContentLeftImage>
    <riskManagementContentLeftImageAlt>
      <Value><![CDATA[a group of people in a meeting]]></Value>
    </riskManagementContentLeftImageAlt>
    <riskManagementContentLeftText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </riskManagementContentLeftText>
    <riskManagementContentLeftText2>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </riskManagementContentLeftText2>
    <riskManagementContentRightHeadline1>
      <Value><![CDATA[key point]]></Value>
    </riskManagementContentRightHeadline1>
    <riskManagementContentRightHeadline2>
      <Value><![CDATA[A financial plan is based on a personal relationship]]></Value>
    </riskManagementContentRightHeadline2>
    <riskManagementContentRightHeadline2KeyNote1>
      <Value><![CDATA[Listen closely to you and learn what you value]]></Value>
    </riskManagementContentRightHeadline2KeyNote1>
    <riskManagementContentRightHeadline2KeyNote2>
      <Value><![CDATA[Analyze your current financial situation]]></Value>
    </riskManagementContentRightHeadline2KeyNote2>
    <riskManagementContentRightHeadline2KeyNote3>
      <Value><![CDATA[Understand your feelings about managing money and investments]]></Value>
    </riskManagementContentRightHeadline2KeyNote3>
    <riskManagementContentRightHeadline2Text1>
      <Value><![CDATA[No matter where you find yourself today or see yourself in the future, a financial planning relationship with an Ameriprise financial advisor can help you find your financial balance and bring your dreams and goals more within reach.]]></Value>
    </riskManagementContentRightHeadline2Text1>
    <riskManagementContentRightHeadline2Text2>
      <Value><![CDATA[Our Confident Retirement approach to financial planning begins with a one-on-one conversation. At its core is a personal relationship with an advisor dedicated to helping you reach the future you imagine, on your own terms, in a way that is convenient for you.]]></Value>
    </riskManagementContentRightHeadline2Text2>
    <riskManagementContentRightHeadline2Text3>
      <Value><![CDATA[The financial planning process all starts with learning about you. Your advisor will take the time to:]]></Value>
    </riskManagementContentRightHeadline2Text3>
    <riskManagementContentRightHeadline2Text4>
      <Value><![CDATA[Then your advisor will offer personalized advice and guidance to help you reach your financial goals. Ameriprise advisors have access to a broad array of solutions to help you plan for your confident future.]]></Value>
    </riskManagementContentRightHeadline2Text4>
    <riskManagementContentRightHeadline2Text5>
      <Value><![CDATA[And once you have a plan in place, you may feel more confident knowing that your advisor will stay with you over time, helping you track your progress toward your goals and making adjustments along the way when your life or dreams change.]]></Value>
    </riskManagementContentRightHeadline2Text5>
    <riskManagementContentRightHeadline3>
      <Value><![CDATA[We’ll help you achieve financial confidence]]></Value>
    </riskManagementContentRightHeadline3>
    <riskManagementContentRightHeadline3KeyNote1>
      <Value><![CDATA[Cover your essentials. Essentials are the monthly expenses that keep your life running.]]></Value>
    </riskManagementContentRightHeadline3KeyNote1>
    <riskManagementContentRightHeadline3KeyNote2>
      <Value><![CDATA[Ensure your lifestyle. Lifestyle is about the things that you want to do, and how you want to live, today and in the future.]]></Value>
    </riskManagementContentRightHeadline3KeyNote2>
    <riskManagementContentRightHeadline3KeyNote3>
      <Value><![CDATA[Prepare for the unexpected. The unexpected are events that could derail your financial plans.]]></Value>
    </riskManagementContentRightHeadline3KeyNote3>
    <riskManagementContentRightHeadline3KeyNote4>
      <Value><![CDATA[Leave a legacy. Legacy is about the impact you’ll make on the people, charities and causes that are important to you.]]></Value>
    </riskManagementContentRightHeadline3KeyNote4>
    <riskManagementContentRightHeadline3Text1>
      <Value><![CDATA[Working with a financial advisor may help you come away feeling more confident knowing that you have the support you need to help:]]></Value>
    </riskManagementContentRightHeadline3Text1>
    <riskManagementContentRightImage1>
      <Value><![CDATA[[
  {
    "key": "88613185-cb60-4b51-aa5b-ff159d0252f5",
    "mediaKey": "bb649ab7-92ed-499f-8b53-3c51e7d6b44b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementContentRightImage1>
    <riskManagementContentRightImage1Alt>
      <Value><![CDATA[people cheering around a table]]></Value>
    </riskManagementContentRightImage1Alt>
    <riskManagementContentRightImage2>
      <Value><![CDATA[[
  {
    "key": "6bf44066-6a7d-485f-b568-2d6aca0aa449",
    "mediaKey": "cdd21298-ee0b-46a4-95e0-1683ac780bd8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </riskManagementContentRightImage2>
    <riskManagementContentRightImage2Alt>
      <Value><![CDATA[4 people around a table in a meeting.]]></Value>
    </riskManagementContentRightImage2Alt>
    <riskManagementContentRightKeyNoteText1>
      <Value><![CDATA[Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue]]></Value>
    </riskManagementContentRightKeyNoteText1>
    <riskManagementContentRightKeyNoteText2>
      <Value><![CDATA[In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.]]></Value>
    </riskManagementContentRightKeyNoteText2>
    <riskManagementContentRightKeyNoteText3>
      <Value><![CDATA[In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.]]></Value>
    </riskManagementContentRightKeyNoteText3>
    <riskManagementTabHeadline>
      <Value><![CDATA[Risk Management]]></Value>
    </riskManagementTabHeadline>
    <riskManagementTabText1>
      <Value><![CDATA[Home]]></Value>
    </riskManagementTabText1>
    <riskManagementTabText2>
      <Value><![CDATA[Services]]></Value>
    </riskManagementTabText2>
    <riskManagementTabText3>
      <Value><![CDATA[Risk Management]]></Value>
    </riskManagementTabText3>
  </Properties>
</Content>