<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef181cf0-d585-486e-8ca4-c7a4a08068ca" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-06-25T15:27:58</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fb3e916d-43c7-452a-97e2-9ddf61342e21">ServicesPage</Template>
  </Info>
  <Properties>
    <nextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectHeadline>
    <nextProjectImage>
      <Value><![CDATA[[
  {
    "key": "ae71076b-9105-4282-a21d-e94199856107",
    "mediaKey": "0f35c382-fb69-4473-b9bf-38754a36248a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImage>
    <nextProjectImageAlt>
      <Value><![CDATA[smiling guy with glasses with his arms crossed]]></Value>
    </nextProjectImageAlt>
    <nextProjectImageBehind>
      <Value><![CDATA[[
  {
    "key": "1f02ca79-340b-4fce-9706-ed32d12a50d2",
    "mediaKey": "777f3a20-fe83-4b6d-9045-0bc72e17b4e3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageBehind>
    <nextProjectImageBehindAlt>
      <Value><![CDATA[a shape and dots in a rectangular form]]></Value>
    </nextProjectImageBehindAlt>
    <nextProjectText>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </nextProjectText>
    <nextProjectText2>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </nextProjectText2>
    <nextProjectText3>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </nextProjectText3>
    <nextProjectTextHeadline>
      <Value><![CDATA[Office location]]></Value>
    </nextProjectTextHeadline>
    <nextProjectTextHeadline2>
      <Value><![CDATA[Phone number]]></Value>
    </nextProjectTextHeadline2>
    <nextProjectTextHeadline3>
      <Value><![CDATA[E-mail address]]></Value>
    </nextProjectTextHeadline3>
    <serviceCard1Headline>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceCard1Headline>
    <serviceCard1Image>
      <Value><![CDATA[[
  {
    "key": "88da5786-e55d-403b-a989-9b0d7bd802a2",
    "mediaKey": "c5d571c0-f4b2-4384-9911-7ffa0fff3642",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard1Image>
    <serviceCard1ImageAlt>
      <Value><![CDATA[showcase image for Risk Management]]></Value>
    </serviceCard1ImageAlt>
    <serviceCard1Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard1Text>
    <serviceCard1Url>
      <Value><![CDATA[Risk-Management]]></Value>
    </serviceCard1Url>
    <serviceCard2Headline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceCard2Headline>
    <serviceCard2Image>
      <Value><![CDATA[[
  {
    "key": "f298d118-197d-44db-992e-68f3a94c0465",
    "mediaKey": "7b337d7a-bcef-4e2c-8d48-ddffac5437b9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard2Image>
    <serviceCard2ImageAlt>
      <Value><![CDATA[showcase image for Bonds & Commodities]]></Value>
    </serviceCard2ImageAlt>
    <serviceCard2Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard2Text>
    <serviceCard3Headline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceCard3Headline>
    <serviceCard3Image>
      <Value><![CDATA[[
  {
    "key": "1ae04f2c-4163-4797-928f-1eaa5f17db22",
    "mediaKey": "b74f5a1d-6ad6-4b89-949c-1d82a443ae50",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard3Image>
    <serviceCard3ImageAlt>
      <Value><![CDATA[showcase image for Assurance & Audits]]></Value>
    </serviceCard3ImageAlt>
    <serviceCard3Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard3Text>
    <serviceCard4Headline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceCard4Headline>
    <serviceCard4Image>
      <Value><![CDATA[[
  {
    "key": "c30565eb-09bf-4aa5-add4-18ca5d38e6bd",
    "mediaKey": "dcf87dd4-02f0-4f77-b6f8-dcee242e3999",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard4Image>
    <serviceCard4ImageAlt>
      <Value><![CDATA[showcase image for Tax and Trusts]]></Value>
    </serviceCard4ImageAlt>
    <serviceCard4Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard4Text>
    <serviceCard5Headline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceCard5Headline>
    <serviceCard5Image>
      <Value><![CDATA[[
  {
    "key": "621cad8f-b89e-4a91-aa65-d3579c26cf06",
    "mediaKey": "d34dc32d-bba1-43f8-b332-a52d34c783ec",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard5Image>
    <serviceCard5ImageAlt>
      <Value><![CDATA[showcase image for Financial Advisor]]></Value>
    </serviceCard5ImageAlt>
    <serviceCard5Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard5Text>
    <serviceCard6Headline>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceCard6Headline>
    <serviceCard6Image>
      <Value><![CDATA[[
  {
    "key": "d2f8a96f-7276-4bd5-aba4-58e300e0f96f",
    "mediaKey": "eda8a928-8415-480b-a67c-bdc66a8174eb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCard6Image>
    <serviceCard6ImageAlt>
      <Value><![CDATA[showcase image for Statistic Advisors]]></Value>
    </serviceCard6ImageAlt>
    <serviceCard6Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCard6Text>
    <serviceHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </serviceHeadline>
    <servicesTabChangeText1>
      <Value><![CDATA[Prev]]></Value>
    </servicesTabChangeText1>
    <servicesTabChangeText2>
      <Value><![CDATA[1]]></Value>
    </servicesTabChangeText2>
    <servicesTabChangeText3>
      <Value><![CDATA[2]]></Value>
    </servicesTabChangeText3>
    <servicesTabChangeText4>
      <Value><![CDATA[Next]]></Value>
    </servicesTabChangeText4>
    <serviceTabHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </serviceTabHeadline>
    <serviceTabText>
      <Value><![CDATA[Home]]></Value>
    </serviceTabText>
    <serviceTabText2>
      <Value><![CDATA[Services]]></Value>
    </serviceTabText2>
  </Properties>
</Content>