<?xml version="1.0" encoding="utf-8"?>
<Media Key="a226a226-cd63-4197-a64c-7909eb564263" Alias="about-us-small.png" Level="2">
  <Info>
    <Parent Key="edc29f14-11c1-48c2-ac50-e288238e5b7a">Risk Management</Parent>
    <Path>/RiskManagement/aboutUsSmallpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-25T16:50:55</CreateDate>
    <NodeName Default="about-us-small.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vfugafak/about-us-small.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>