<?xml version="1.0" encoding="utf-8"?>
<Media Key="3056dee7-63b1-4bf2-8191-c8baef852dd3" Alias="AJ-Carter.png" Level="2">
  <Info>
    <Parent Key="c2af4505-b672-4252-acb6-5fcbdb40345a">About - Images</Parent>
    <Path>/AboutImages/AJCarterpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T23:51:57</CreateDate>
    <NodeName Default="AJ-Carter.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nakbbbwy/aj-carter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>