<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bf9adfa-6131-4b0b-98d5-d4a198ee8b8a" Alias="Brandon-Kerr.png" Level="2">
  <Info>
    <Parent Key="c2af4505-b672-4252-acb6-5fcbdb40345a">About - Images</Parent>
    <Path>/AboutImages/BrandonKerrpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T23:51:45</CreateDate>
    <NodeName Default="Brandon-Kerr.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ovtl5xky/brandon-kerr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>