<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe957c19-e26c-4159-a98d-86531ecffbe9" Alias="company5.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/company5png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:38:50</CreateDate>
    <NodeName Default="company5.png" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s01ngsaf/company5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>