<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a353d7c-8a3d-4945-a592-900b4ff696ff" Alias="company4.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/company4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:38:47</CreateDate>
    <NodeName Default="company4.png" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4p1hhpcu/company4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>