<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d20b8be-e42d-4655-8d0d-d848e3359fcc" Alias="dot map-flat.svg" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/dotMapFlatsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-06-23T02:37:34</CreateDate>
    <NodeName Default="dot map-flat.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jqcje1zw/dot-map-flat.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>