<?xml version="1.0" encoding="utf-8"?>
<Media Key="f85b930a-ef8e-437a-b1eb-cc7dd5eceb07" Alias="dot-map-round.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/dotMapRoundpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:37:05</CreateDate>
    <NodeName Default="dot-map-round.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qvmb0txh/dot-map-round.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>