<?xml version="1.0" encoding="utf-8"?>
<Media Key="777f3a20-fe83-4b6d-9045-0bc72e17b4e3" Alias="doted-background.svg" Level="2">
  <Info>
    <Parent Key="c2af4505-b672-4252-acb6-5fcbdb40345a">About - Images</Parent>
    <Path>/AboutImages/dotedBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-06-24T23:53:12</CreateDate>
    <NodeName Default="doted-background.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0kdn1fmy/doted-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>