<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f35c382-fb69-4473-b9bf-38754a36248a" Alias="guy-glasses.png" Level="2">
  <Info>
    <Parent Key="c2af4505-b672-4252-acb6-5fcbdb40345a">About - Images</Parent>
    <Path>/AboutImages/guyGlassespng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T23:52:56</CreateDate>
    <NodeName Default="guy-glasses.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/buehhoia/guy-glasses.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>