<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e975196-190e-495d-be65-33787e6a7d71" Alias="juva-image2.png" Level="2">
  <Info>
    <Parent Key="0385a9b6-cf9c-4100-8558-60b5caa7cfc4">Juva-Inc Images</Parent>
    <Path>/JuvaIncImages/juvaImage2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-25T22:29:22</CreateDate>
    <NodeName Default="juva-image2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dgnndodh/juva-image2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>