<?xml version="1.0" encoding="utf-8"?>
<Media Key="0385a9b6-cf9c-4100-8558-60b5caa7cfc4" Alias="Juva-Inc Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JuvaIncImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-25T22:28:25</CreateDate>
    <NodeName Default="Juva-Inc Images" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>