<?xml version="1.0" encoding="utf-8"?>
<Media Key="b591a442-8cfd-44fa-9008-7a3ff6c70e3e" Alias="kevin-gardner-big.png" Level="2">
  <Info>
    <Parent Key="c2af4505-b672-4252-acb6-5fcbdb40345a">About - Images</Parent>
    <Path>/AboutImages/kevinGardnerBigpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T23:51:29</CreateDate>
    <NodeName Default="kevin-gardner-big.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zvxnoa2u/kevin-gardner-big.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>