<?xml version="1.0" encoding="utf-8"?>
<Media Key="8120eb5d-1d08-4c83-a381-98d1fccd62f2" Alias="Miranda-Dayton.png" Level="2">
  <Info>
    <Parent Key="c2af4505-b672-4252-acb6-5fcbdb40345a">About - Images</Parent>
    <Path>/AboutImages/MirandaDaytonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T23:52:37</CreateDate>
    <NodeName Default="Miranda-Dayton.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0iqhmn1b/miranda-dayton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>