<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b995c44-daa9-4c50-8de2-6ae5db0d5487" Alias="Onatrix.svg" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/Onatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-06-23T02:35:35</CreateDate>
    <NodeName Default="Onatrix.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w1qdw0ns/onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>