<?xml version="1.0" encoding="utf-8"?>
<Media Key="b74f5a1d-6ad6-4b89-949c-1d82a443ae50" Alias="our-services-image-3.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/ourServicesImage3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:36:32</CreateDate>
    <NodeName Default="our-services-image-3.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/skiasan5/our-services-image-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>