<?xml version="1.0" encoding="utf-8"?>
<Media Key="eda8a928-8415-480b-a67c-bdc66a8174eb" Alias="our-services-image-6.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/ourServicesImage6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:36:38</CreateDate>
    <NodeName Default="our-services-image-6.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/u3rp2w12/our-services-image-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>