<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5d571c0-f4b2-4384-9911-7ffa0fff3642" Alias="our-services-image-1.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/ourServicesImage1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:36:28</CreateDate>
    <NodeName Default="our-services-image-1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j43jg241/our-services-image-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>