<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcf87dd4-02f0-4f77-b6f8-dcee242e3999" Alias="our-services-image-4.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/ourServicesImage4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:36:34</CreateDate>
    <NodeName Default="our-services-image-4.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lo1l20uz/our-services-image-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>