<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4840bec-ebc7-44d3-8a73-4ee052483eb2" Alias="pj1.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/pj1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:38:01</CreateDate>
    <NodeName Default="pj1.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mpaneyvo/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>