<?xml version="1.0" encoding="utf-8"?>
<Media Key="55b79a93-d48a-4821-b509-3b861c149463" Alias="pj2.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/pj2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:38:03</CreateDate>
    <NodeName Default="pj2.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dripdy5d/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>