<?xml version="1.0" encoding="utf-8"?>
<Media Key="c26f7cbe-c449-46ca-9789-c4ccb70318ad" Alias="Projects Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectsImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-25T20:09:30</CreateDate>
    <NodeName Default="Projects Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>