<?xml version="1.0" encoding="utf-8"?>
<Media Key="edc29f14-11c1-48c2-ac50-e288238e5b7a" Alias="Risk Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-25T16:50:24</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>