<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdd21298-ee0b-46a4-95e0-1683ac780bd8" Alias="risk-management2.png" Level="2">
  <Info>
    <Parent Key="edc29f14-11c1-48c2-ac50-e288238e5b7a">Risk Management</Parent>
    <Path>/RiskManagement/riskManagement2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-25T16:51:06</CreateDate>
    <NodeName Default="risk-management2.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c5mji41c/risk-management2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>