<?xml version="1.0" encoding="utf-8"?>
<Media Key="4759289b-cbc0-431c-9880-c3f43762c7e6" Alias="signature.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/signaturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:35:54</CreateDate>
    <NodeName Default="signature.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ctrb52nj/signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>