<?xml version="1.0" encoding="utf-8"?>
<Media Key="305df5b3-f93e-4c05-96bb-3c2c4e3b5362" Alias="success-pic.png" Level="2">
  <Info>
    <Parent Key="7c922bbf-a095-4cdd-9000-e2004ba67e30">Home - Images</Parent>
    <Path>/HomeImages/successPicpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-23T02:37:45</CreateDate>
    <NodeName Default="success-pic.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hq5bxbsx/success-pic.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>