<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ca8c716-95bc-46b3-b566-4e31830c0ac1" Alias="Tina-FoxSmall.png" Level="2">
  <Info>
    <Parent Key="c2af4505-b672-4252-acb6-5fcbdb40345a">About - Images</Parent>
    <Path>/AboutImages/TinaFoxSmallpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-24T23:52:22</CreateDate>
    <NodeName Default="Tina-FoxSmall.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tegp3owv/tina-foxsmall.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>